@import 'main/background';
@import 'main/card';

.detailed__card {
  @extend %card;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 100px;
  @extend %accent-img;


  .detailed__top{
    border-bottom: 1px solid #eaeaea;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .local__time{
      justify-self: center;
      align-self: end;
    }

    .current__weather{
      justify-self: end;
      text-align: right;
    }

    h1{
      margin-top: 5px;
    }
  }

  .detailed__content-forecast{
    display: grid;
    grid-template-columns: repeat(5, calc(100% /5));
    margin-top: 3rem;
    
    .forecast-card {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      .illustration{
        .svg{
          width: 96px;
          height: 96px;
          fill: rgb(226, 54, 54);
        }
      }
    }
  }
}