<ng-container *ngIf="(weatherData$ | async) as data">
  <div  class="detailed__card">
    <div class="detailed__top">
      <div class="location">
        <div class="country">
          {{data.location.country}}
        </div>
        <div class="city__text">
          <h1>{{data.location.name}}</h1>
        </div>
      </div>
      <div class="local__time">
          <h1>{{data.location.localtime | date:'hh:mm'}}</h1>
      </div>
      <div class="current__weather">
          <div class="current__weather-description">
            Current Weather
          </div>
          <div class="current__weather-temp">
              <h1>{{data.current.temp_c}} ° </h1>      
          </div>
      </div>
      
    </div>
    <div class="detailed__content-forecast">
        <div class="forecast-card" *ngFor="let forecast of data.forecast.forecastday; first as isFirst">
          <div class="weekday__text" *ngIf="!isFirst; else today">
            <h3>{{forecast.date | weekday }}</h3>
          </div>
          <ng-template #today>
            <h3>Today</h3>
          </ng-template>
          <app-weather-icon [icon]="forecast.day.condition.code"></app-weather-icon>
          <div class="temperature">
            <h3>{{forecast.day.avgtemp_c}}°</h3>
          </div> 
        </div>    
    </div>
    <app-actions [path]="path" [city]="data.location.name"></app-actions>
  </div>
</ng-container> 