<div class="icon__container" [ngSwitch]="true">
  <div  *ngSwitchCase="icon === 1000" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-01.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1003" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-17.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1006" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-16.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1009" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-17.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1030" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-39.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1063" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-25.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1066" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-32.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1069" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-48.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1072" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-26.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1087" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-29.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1114" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-31.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1117" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-68.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1135" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-42.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1147" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-39.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1170" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-48.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="icon === 1150" class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-25.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="
            icon === 1180 || 
            icon === 1183 || 
            icon === 1186 ||
            icon === 1189" 
      class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-25.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="
            icon === 1192 ||
            icon === 1195 ||
            icon === 1198"
      class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-36.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="
            icon === 1219 ||
            icon === 1222 ||
            icon === 1225 "
      class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-68.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="
            icon === 1204 ||
            icon === 1207 "
      class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-43.svg#Dibujo"></use>
      </svg>
  </div>
  <div  *ngSwitchCase="
            icon === 1240 ||
            icon === 1243 ||
            icon === 1246 "
      class="illustration">
      <svg class="svg">
          <use xlink:href="../../../assets/img/weatherIcons/weather_icons-51.svg#Dibujo"></use>
      </svg>
  </div>
  
</div>

