/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "style-bundle";

html, body {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}